@import '@styles/variables';
@import '@styles/mixins';

.container {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 23, 27, 0.69);

  .modal {
    margin-bottom: 180px;
    padding: 40px 80px 50px;
    background: $ford-white;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
  }

  h2 {
    font-size: 30px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 38px;

  }
  .selectsContainer {
    display: flex;
    justify-content: flex-start;
    gap: 18px;

    input {
      width: 100px;
    }
  }

  button {
    width: 340px;
    margin-top: 10px;
  }
}