// colors : 
$viva-magenta: #BB2649;
$ford-white: #F5F5FF;
$pale-dogwood: #FDE7E4;
$gray-lilac: #D4C4CD;

// screen sizes : 
$mobile-s: 230px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$laptop-xl: 1920px;
$screen-4k: 2560px;

$radius: 6px;