@import '@styles/variables';
@import '@styles/mixins';

.container {
  display: flex;
  flex-direction: column;
  gap: 76px;

  div {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  h1 {
    text-transform: capitalize;
  }

  a {
    font-size: 24px;
    color: $gray-lilac;

    &:hover {
      color: $viva-magenta;
    }
  }

  .active {
    color: $viva-magenta;
  }

}